<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
        <title>Introduction to AngularJS</title>
        <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body ng-app="intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="page-header" style="text-align: center;">
                    <img src="../images/CRAFTWORKZ_451x166_color.png" alt="craftworkz">
                    <h1>Introduction to AngularJS</h1>
                </div>
                </div>
            </div>

            <div ng-controller="IntroCtrl">
                <div class="row">
                    <div class="col-xs-6 col-md-6 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">Super Heroes <span class="badge pull-right">{{ heroes.length }}</span></div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="hero in heroes" ng-click="alertName(hero)">
                                    {{ hero }}

                                    <button class="btn btn-xs btn-danger pull-right" ng-click="removeHero($index)" >
                                        <span class="glyphicon glyphicon-trash"></span>
                                     </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">Villains <span class="badge pull-right">{{ villains.length }}</span></div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="villain in villains | orderBy:-name" ng-click="alertName(villain.name)">
                                    {{ villain.name }}

                                    <button class="btn btn-xs btn-danger pull-right" ng-click="removeVillain($index)" >
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- First directive -->
                    <intro-greeting></intro-greeting>

                    <!-- Second directive -->
                    <intro-list list="heroes" list-name="Heroes" delete-function="removeHero" alert-function="alertName"></intro-list>
                </div>
                <div class="row">
                    <intro-battle heroes="heroes" villains="villains"></intro-battle>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="../libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/controllers.js"></script>
        <script type="text/javascript" src="scripts/services.js"></script>
        <script type="text/javascript" src="scripts/directives.js"></script>
    </body>
</html>
