<div class="row">
	<div class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4" style="text-align: center;">
		<button class="btn btn-lg btn-danger" ng-click="setRandomFighters();">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4" style="text-align: left;">
		<h1>{{ hero }}</h1>
	</div>
	<div class="col-xs-4 col-md-4" style="text-align: center;">
		<h1><span class="label label-default">VS</span><h1>
	</div>
	<div class="col-xs-4 col-md-4" style="text-align: right;">
		<h1>{{ villain.name }}</h1>
	</div>
</div>
